html {
    height: 100%;
}

body {
    background-color: #e7e7e7;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

#canvas {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: 20%; 
    margin-left: 50%; 
    margin-right: 50%;
}
.component-holder {
    position: relative;
    height: 200px; /* adjust as needed */
    width: 200px; /* adjust as needed */
    border: 1px solid #4592ff;
    /* padding: 5px; */
}

.actions-container {
    display: flex;
    position: fixed;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;

    bottom: 0;
    /* right: 0;
    left: 0; */ 
    padding-left: 12px;
    padding-right: 12px;

    padding-top: 0px;
    padding-bottom: 0px;

    border-radius: 20px;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    background-color: #fff;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 20px;
    /* width: 60px; */
    height: 50px;
}

.actions-container .action-item {
    margin-left: 10px;
    margin-right: 10px;
}

#file {
    display: none;
}

#foo {
    display: none;
}

/* #text {
    display: none;
} */
  
  
#resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #000;
    cursor: nwse-resize;
}